#tweet-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
}

#tweet-profile {
    display: flex;
    padding: 10px;
    height: 100px
}

#profile-image {
    width: 100px;
}

#profile-info {
    display: flex;
    margin-left: 15px;
}

#down-arrow {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
