
 body {

    font-family: arial
}

footer {

    margin: auto;
    width: 500px;
    background-color: #fa6304;
    color: white;
    border-radius: 20px;

}

header {

    widows: 500px;
    margin: auto;
    background-color: #fa6304;
    color: white;
    text-align: center;

}

h1 {

    line-height: 75px;
}

section {

    margin-top: 30px;
    text-align: center;

}

table {

    margin: auto;
    background-color: #fa6304;
    width: 300px;
    border: solid #000000 2px;
}

td {

    text-align: left ;
}
